# Chimera stuff
data.json
hi*
schema.json
data.csv
/benchmarks
/logs
chimera.log.*

# Rust stuff
/target

# Tailwind stuff
/node_modules
package.json
package-lock.json
tailwind.config.js

# Diagrams
api-playground.excalidraw